'<div class="container-fluid px-1 py-5 mx-auto">\n' +
    ' <div class="row d-flex justify-content-center">\n' +
        ' <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">\n' +
            ' <h3>Profile</h3>\n' +
            ' <div class="card">\n' +
                ' <form class="form-card">\n' +
                    ' <div class="row justify-content-between text-left">\n' +
                        ' <div class="form-group col-sm-6 flex-column d-flex">\n' +
                            ' <label class="form-control-label px-3">First name</label>\n' +
                            ' <input type="text" id="fname" name="fname" v-model="cv.firstname">\n' +
                            ' </div>\n' +
                        ' <div class="form-group col-sm-6 flex-column d-flex">\n' +
                            ' <label class="form-control-label px-3">Lastname</label>\n' +
                            ' <input type="text" id="lname" name="lname" v-model="cv.nom">\n' +
                            ' </div>\n' +
                        ' </div>\n' +
                    ' <div class="row justify-content-between text-left">\n' +
                        ' <div class="form-group col-sm-6 flex-column d-flex">\n' +
                            ' <label class="form-control-label px-3">Email</label>\n' +
                            ' <input type="email" id="email" name="email" v-model="cv.email">\n' +
                            ' </div>\n' +
                        ' <div class="form-group col-sm-6 flex-column d-flex">\n' +
                            ' <label class="form-control-label px-3">WebSite</label>\n' +
                            ' <input type="text" id="web" name="web" placeholder="Enter your website"
                                v-model="cv.webSite">\n' +
                            ' </div>\n' +
                        ' </div>\n' +
                    ' <div class="row justify-content-between text-left">\n' +
                        ' <div class="form-group col-sm-6 flex-column d-flex">\n' +
                            ' <label class="form-control-label px-3">BirthDay</label>\n' +
                            ' <input type="date" id="date" name="date" v-model="cv.birthDay">\n' +
                            ' </div>\n' +
                        ' </div>\n' +
                    ' <div class="row justify-content-between text-left">\n' +
                        ' <div class="form-group col-12 flex-column d-flex">\n' +
                            ' <table class="table table-striped">\n' +
                                ' <thead>\n' +
                                    ' <tr>\n' +
                                        ' <th>Title</th>\n' +
                                        ' <th>Nature</th>\n' +
                                        ' <th>Description</th>\n' +
                                        ' <th>Year</th>\n' +
                                        ' <th>Website</th>\n' +
                                        ' </tr>\n' +
                                    ' </thead>\n' +
                                ' <tbody>\n' +
                                    ' <tr v-for="(item, index) in cv?.activities">\n' +
                                        ' <td><input type="text" v-model="cv?.activities.at(index).title" /></td>\n' +
                                        ' <td><input type="text" v-model="cv?.activities.at(index).nature" /></td>\n' +
                                        ' <td><input type="text" v-model="cv?.activities.at(index).description" /></td>
                                        \n' +
                                        ' <td><input type="text" v-model="cv?.activities.at(index).year" /></td>\n' +
                                        ' <td><input type="text" v-model="cv?.activities.at(index).webSite" /></td>\n' +
                                        ' </tr>\n' +
                                    ' </tbody>\n' +
                                ' </table>\n' +
                            ' </div>\n' +
                        ' </div>\n' +
                    ' <button type="submit" v-on:click.prevent="goCvPage()">Save</button>\n' +
                    ' </form>\n' +
                ' </div>\n' +
            ' </div>\n' +
        ' </div>\n' +
    '</div>\n' +