h1 { color: blue; }

.border.border-secondary.rounded.p-3 {
    max-width: 41%;
    margin: 0 auto;
    margin-top: 3%;
}

.form-group {
    display: grid;
    grid-template-columns: 16% 70%;
    justify-content: center;
}

.form-validator {
    display: flex;
    justify-content: center;
    gap: 9%;
}
