section.ftco-section {
    padding: 7em 0;
}

h2.heading-section {
    font-size: 28px;
    color: black;
}

.login-wrap {
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #1089ff;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-wrap h3 {
    font-weight: 300;
}

i.bi.bi-person {
    font-size: 2rem;
}

.button-container {
    margin: 0 auto;
    text-align: center;
}

form.form-inline {
    text-align: center;
    padding: 2em;
}

.form-inline {
    justify-content: center;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.border.border-secondary.rounded.p-3 {
    max-width: 600px;
    margin: auto;
}

.form-validator {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.link-a {
    color: #fff;
}